*, 
html {
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
}

.container-navbar {
  background-color: #333;
  width: 100%;
  height: 100px;
}

.ul-navbar {
  display: flex;
  height: 100px; 
  justify-content: center;
  align-items: center;
}

.li-navbar {
  border : 1px solid white;
  background-color: black;
  list-style-type: none ;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 30px;
  border-radius: 70px;
}

.li-navbar:hover{
  color: tomato;
  transition: .5s ease-in-out;
  transition-delay: .1s;
  border-radius: 20px;
  border-color: rgb(252, 6, 6);
}


.a-navbar {
  color: white;
  text-decoration: none;
}

.container-content {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.a-content {
  background-color: rgb(48, 47, 47);
  width: 720px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: hwb(66 0% 0% / 0.979);
}

.a-content:hover{
  color: tomato;
  transition: .5s ease-in-out;
  transition-delay: .1s;
  border-radius: 40px;
}
  .img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 87%;
  border-radius: 50px;
}

.container-footer {
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-footer {
  font-size: 40px;
  color: white;
  text-decoration: none;
  border : 1px solid white;
  background-color: black;
  list-style-type: none ;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 30px;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-footer:hover{
  color: rgb(11, 255, 3);
  transition: .5s ease-in-out;
  transition-delay: .1s;
  border-radius: 20px;
  border-color: rgb(2, 255, 86);
}

    li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #c85250;
    transition: all 0.5s ease;
    border-radius: 40px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #f85f5f;
  border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
